.help-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-top: 70px;
  padding-bottom: 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  box-shadow: none;
}

.help-container h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.help-container p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.help-container a {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
  margin-top: 10px;
}

.help-container a:hover {
  background-color: rgb(67, 67, 68);
}

@media (max-width: 768px) {
  .help-container {
    width: 100%;
    max-width: 90%;
  }
  .help-container h1 {
    font-size: 1.7rem;
  }
  .help-container p,
  .help-container a {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .help-container {
    max-width: 800px;
  }
  .help-container h1 {
    font-size: 2rem;
  }
  .help-container p,
  .help-container a {
    font-size: 1.2rem;
  }
}
